.titleBar  {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: rgb(43, 195, 206);
    box-shadow: 0px 5px 20px rgb(4, 83, 83);
};

.title {
    padding:0px 0px 0px 200px;
    font-size: 20pt;
    color: white;
}